@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);


/**general distribution**/

* {
    margin: 0;
    padding: 0;
}


/**general distribution of body**/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

/**wallpaper**/


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(235, 235, 237, 0.7) 9%, rgba(235, 235, 237, 0.7) 9%, rgba(235, 235, 237, 0.7) 9%), url(../img/eucofel_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/**options of section **/


section {
    margin-top: 0;
}

/**options of the main title box**/


.hero-content {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


/**options of the button**/


button {

    padding: 10px;
}

/**options of the main sub title**/


.hero-content>h2 {
    line-height: 1.2;
    margin: 0 0 10px 0;
    color: #485664;
    font-size: 3rem;

}


/**options of the main sub sub title**/


.hero-content>p {

    color: #485664;
    font-weight: 300;
    font-size: 1.5rem;
}

/**options of the main title**/


.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

/**options of the main sub title**/


.hero-subtitle {
    font-size: 3rem;
    font-weight: 200;
    margin-top: 1rem;
    color: #418209;


}

/**options of the main box with nav y content title**/


.hero {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    --bs-gutter-x: 1.5rem;


}

/**options of the main button box**/


.hero-button {
    background-color: #418209;
    ;
    color: white;
    border: 1px solid #418209;
    ;
    margin-top: 50px;
    padding: 0.9375rem 1.875rem;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;

}

/**options of the main botton when hover**/


.hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
}

/**options of the main nav**/


.hero-nav {

    display: flex;
    justify-content: space-between;
    position: relative;
    color: white;
    text-align: center;
    font-family: var(--font-secondary);
    padding: 15px;

}


div.hero-nav>img {
    width: 80px;
}

ul li {
    list-style: none;
    display: inline;

}


ul {
    display: flex;
    gap: 50px;
    color:grey;

}

li {
   
    font-weight: bold;


}



/* First section with boxes*/


.sl-starter {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
    margin-right: 250px;
    margin-left: 250px;
    flex-wrap: wrap;
}

.sl-starter>h2 {
    font-size: 12px;
}

.sl-starter>p {
    font-size: 10px;
}

.sl-starter>div {
    width: 320px;
}

.sl-container1>img,
.sl-container2>img,
.sl-container3>img,
.sl-container4>img {

    width: 36px;
    padding-bottom: 20px;

}

/*Section About Us*/

.aboutUs {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
    margin-right: 350px;
    margin-left: 350px;
    text-align: center;

}

.aboutUs>div>p:first-child {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #485664;
}

